(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_parameters_in_scopes: None,
    highlight_focused: None,
    fill_high_values: None,
    primary_button_drag_behavior: None,
    arrow_key_bindings: None,
    clock_highlight_type: None,
    hierarchy_style: None,
    autoload_sibling_state_files: None,
    autoreload_files: None,
    waves: Some((
        source: File("dump.vcd"),
        format: Vcd,
        active_scope: Some(WaveScope((
            strs: [
                "fifo_w1r4",
            ],
            id: Wellen((4)),
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (1),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (2),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (3),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (4),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (6),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (5),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (22),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (29),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (28),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (20),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (23),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (24),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (25),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (26),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (27),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (21),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (7),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (13),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (14),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (19),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (15),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (16),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (17),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (18),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (8),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (9),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (10),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (11),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "fifo_w1r4",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "clk",
                    id: Wellen((14)),
                ),
                color: None,
                background_color: None,
                display_name: "clk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (13): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "fifo_w1r4",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "ready_out",
                    id: Wellen((19)),
                ),
                color: None,
                background_color: None,
                display_name: "ready_out [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
                height_scaling_factor: None,
            )),
            (3): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (2): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "fifo_w1r4",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "reset",
                    id: Wellen((15)),
                ),
                color: None,
                background_color: None,
                display_name: "reset",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (26): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "fifo_w1r4",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "load",
                    id: Wellen((45)),
                ),
                color: None,
                background_color: None,
                display_name: "load [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
                height_scaling_factor: None,
            )),
            (27): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "fifo_w1r4",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "mem_val",
                    id: Wellen((47)),
                ),
                color: None,
                background_color: None,
                display_name: "mem_val [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
                height_scaling_factor: None,
            )),
            (24): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "fifo_w1r4",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "rd_ptr",
                    id: Wellen((27)),
                ),
                color: None,
                background_color: None,
                display_name: "rd_ptr [2:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (5): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "fifo_w1r4",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "data_in",
                    id: Wellen((18)),
                ),
                color: None,
                background_color: None,
                display_name: "data_in [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (14): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "fifo_w1r4",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "valid_out",
                    id: Wellen((20)),
                ),
                color: None,
                background_color: None,
                display_name: "valid_out [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
                height_scaling_factor: None,
            )),
            (22): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "fifo_w1r4",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "wr_ptr",
                    id: Wellen((26)),
                ),
                color: None,
                background_color: None,
                display_name: "wr_ptr [2:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (6): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "fifo_w1r4",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "ready_in",
                    id: Wellen((16)),
                ),
                color: None,
                background_color: None,
                display_name: "ready_in",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (21): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (29): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (25): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "fifo_w1r4",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "read",
                    id: Wellen((44)),
                ),
                color: None,
                background_color: None,
                display_name: "read [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
                height_scaling_factor: None,
            )),
            (17): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "data_out",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "[2]",
                    id: Wellen((10)),
                ),
                color: None,
                background_color: None,
                display_name: "[2] [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (18): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "data_out",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "[3]",
                    id: Wellen((11)),
                ),
                color: None,
                background_color: None,
                display_name: "[3] [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (19): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (4): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "fifo_w1r4",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "valid_in",
                    id: Wellen((17)),
                ),
                color: None,
                background_color: None,
                display_name: "valid_in",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (28): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "fifo_w1r4",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "size",
                    id: Wellen((28)),
                ),
                color: None,
                background_color: None,
                display_name: "size [2:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (20): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (16): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "data_out",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "[1]",
                    id: Wellen((9)),
                ),
                color: None,
                background_color: None,
                display_name: "[1] [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (7): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (15): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "data_out",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "[0]",
                    id: Wellen((8)),
                ),
                color: None,
                background_color: None,
                display_name: "[0] [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (23): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
        },
        display_item_ref_counter: 29,
        viewports: [
            (
                curr_left: (-0.03882949294146365),
                curr_right: (1.2597073732353659),
                target_left: (0.0),
                target_right: (1.0),
                move_start_left: (0.0),
                move_start_right: (1.0),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            1002,
        ])),
        markers: {},
        focused_item: Some((7)),
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: Some((
        before: (6),
        level: 0,
    )),
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    wanted_timeunit: PicoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    rename_target: None,
    sidepanel_width: Some(300.0),
    ui_zoom_factor: None,
)