(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_parameters_in_scopes: None,
    highlight_focused: None,
    fill_high_values: None,
    primary_button_drag_behavior: None,
    arrow_key_bindings: None,
    clock_highlight_type: None,
    hierarchy_style: None,
    autoload_sibling_state_files: None,
    autoreload_files: None,
    waves: Some((
        source: File("dump.fst"),
        format: Fst,
        active_scope: Some(WaveScope((
            strs: [
                "axi_over_ethernet",
                "eth_mac",
            ],
            id: Wellen((3)),
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (1),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (2),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (3),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (4),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (5),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (31),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (32),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (33),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (9),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (20),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (21),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (34),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (11),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (12),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (13),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (14),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (23),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (22),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (24),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (25),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (15),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (26),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (16),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (17),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (18),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (19),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (27),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (28),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (36),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (29),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (30),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (9): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "axi_over_ethernet",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "clk",
                    id: Wellen((8)),
                ),
                color: None,
                background_color: None,
                display_name: "clk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (11): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "axi_over_ethernet",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "rx_ready",
                    id: Wellen((15)),
                ),
                color: None,
                background_color: None,
                display_name: "rx_ready",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (4): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (15): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (21): Group((
                name: "RX Channel",
                color: None,
                background_color: None,
                content: [],
                is_open: false,
            )),
            (31): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "axi_over_ethernet",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "opcode",
                    id: Wellen((31)),
                ),
                color: None,
                background_color: None,
                display_name: "opcode [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (28): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "axi_over_ethernet",
                            "eth_mac",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "tx_state",
                    id: Wellen((91)),
                ),
                color: None,
                background_color: None,
                display_name: "…eth_mac.tx_state [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Enum"),
                field_formats: [],
                height_scaling_factor: None,
            )),
            (26): Group((
                name: "TX Channel",
                color: None,
                background_color: None,
                content: [],
                is_open: false,
            )),
            (5): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "axi_over_ethernet",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "serial_state",
                    id: Wellen((23)),
                ),
                color: None,
                background_color: None,
                display_name: "serial_state [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Enum"),
                field_formats: [],
                height_scaling_factor: None,
            )),
            (13): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "axi_over_ethernet",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "rx_data",
                    id: Wellen((17)),
                ),
                color: None,
                background_color: None,
                display_name: "rx_data [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (18): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "axi_over_ethernet",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "tx_data",
                    id: Wellen((21)),
                ),
                color: None,
                background_color: None,
                display_name: "tx_data [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (22): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "axi_over_ethernet",
                            "eth_mac",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "rx_state",
                    id: Wellen((77)),
                ),
                color: None,
                background_color: None,
                display_name: "…eth_mac.rx_state [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Enum"),
                field_formats: [],
                height_scaling_factor: None,
            )),
            (30): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "axi_over_ethernet",
                            "eth_mac",
                            "sgmii_pcs_i",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "tx_state",
                    id: Wellen((166)),
                ),
                color: None,
                background_color: None,
                display_name: "…sgmii_pcs_i.tx_state [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Enum"),
                field_formats: [],
                height_scaling_factor: None,
            )),
            (3): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "axi_over_ethernet",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "reset",
                    id: Wellen((9)),
                ),
                color: None,
                background_color: None,
                display_name: "reset",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (14): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "axi_over_ethernet",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "rx_eof",
                    id: Wellen((18)),
                ),
                color: None,
                background_color: None,
                display_name: "rx_eof",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (34): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "axi_over_ethernet",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "rx_discard",
                    id: Wellen((37)),
                ),
                color: None,
                background_color: None,
                display_name: "rx_discard",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (19): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "axi_over_ethernet",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "tx_eof",
                    id: Wellen((22)),
                ),
                color: None,
                background_color: None,
                display_name: "tx_eof",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (23): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (32): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "axi_over_ethernet",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "address",
                    id: Wellen((33)),
                ),
                color: None,
                background_color: None,
                display_name: "address [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (36): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "axi_over_ethernet",
                            "eth_mac",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "packet_cnt",
                    id: Wellen((84)),
                ),
                color: None,
                background_color: None,
                display_name: "packet_cnt [4:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (20): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (29): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (27): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (17): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "axi_over_ethernet",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "tx_valid",
                    id: Wellen((20)),
                ),
                color: None,
                background_color: None,
                display_name: "tx_valid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (24): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (2): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "axi_over_ethernet",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "serdes_rx_clk",
                    id: Wellen((11)),
                ),
                color: None,
                background_color: None,
                display_name: "serdes_rx_clk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (16): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "axi_over_ethernet",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "tx_ready",
                    id: Wellen((19)),
                ),
                color: None,
                background_color: None,
                display_name: "tx_ready",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (25): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "axi_over_ethernet",
                            "eth_mac",
                            "sgmii_pcs_i",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "rx_state",
                    id: Wellen((154)),
                ),
                color: None,
                background_color: None,
                display_name: "…sgmii_pcs_i.rx_state [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Enum"),
                field_formats: [],
                height_scaling_factor: None,
            )),
            (33): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "axi_over_ethernet",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "payload_len",
                    id: Wellen((34)),
                ),
                color: None,
                background_color: None,
                display_name: "payload_len [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (12): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "axi_over_ethernet",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "rx_valid",
                    id: Wellen((16)),
                ),
                color: None,
                background_color: None,
                display_name: "rx_valid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
        },
        display_item_ref_counter: 37,
        viewports: [
            (
                curr_left: (0.5732527595698801),
                curr_right: (0.587325323649715),
                target_left: (0.0),
                target_right: (1.0),
                move_start_left: (0.0),
                move_start_right: (1.0),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            2342512,
        ])),
        markers: {},
        focused_item: Some((29)),
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: Some((
        before: (11),
        level: 1,
    )),
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    wanted_timeunit: PicoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    rename_target: None,
    sidepanel_width: Some(300.0),
    ui_zoom_factor: None,
)