(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_parameters_in_scopes: None,
    highlight_focused: None,
    fill_high_values: None,
    primary_button_drag_behavior: None,
    arrow_key_bindings: None,
    clock_highlight_type: None,
    hierarchy_style: None,
    autoload_sibling_state_files: None,
    autoreload_files: None,
    waves: Some((
        source: File("dump.fst"),
        format: Fst,
        active_scope: Some(WaveScope((
            strs: [
                "mini_mac",
            ],
            id: Wellen((2)),
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (1),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (2),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (3),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (7),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (5),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (6),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (8),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (9),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (4),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (10),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (11),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (13),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (14),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (16),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (17),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (12),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (15),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (19),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (47),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (48),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (49),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (50),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (51),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (39),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (40),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (44),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (53),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (54),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (55),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (56),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (52),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (43),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (57),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (58),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (59),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (60),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (45),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (42),
                    level: 0,
                    unfolded: false,
                    selected: false,
                ),
                (
                    item_ref: (41),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (46),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (5): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "mini_mac",
                            "sgmii_pcs_i",
                        ],
                        id: Wellen((6)),
                    ),
                    name: "eth_ready",
                    id: Wellen((95)),
                ),
                color: None,
                background_color: None,
                display_name: "eth_ready",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "mini_mac",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "clk",
                    id: Wellen((17)),
                ),
                color: None,
                background_color: None,
                display_name: "clk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (2): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "mini_mac",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "reset",
                    id: Wellen((18)),
                ),
                color: None,
                background_color: None,
                display_name: "reset",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (4): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "mini_mac",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "rx_state",
                    id: Wellen((48)),
                ),
                color: None,
                background_color: None,
                display_name: "mini_mac.rx_state [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Enum"),
                field_formats: [],
                height_scaling_factor: None,
            )),
            (11): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "mini_mac",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "pcs_data_out",
                    id: Wellen((31)),
                ),
                color: None,
                background_color: None,
                display_name: "pcs_data_out [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (9): Group((
                name: "MAC RX",
                color: None,
                background_color: None,
                content: [],
                is_open: false,
            )),
            (3): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (10): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "mini_mac",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "pcs_valid_out",
                    id: Wellen((30)),
                ),
                color: None,
                background_color: None,
                display_name: "pcs_valid_out",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (60): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "mini_mac",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "pcs_eof_in",
                    id: Wellen((35)),
                ),
                color: None,
                background_color: None,
                display_name: "pcs_eof_in",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (56): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "mini_mac",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "eof_in",
                    id: Wellen((26)),
                ),
                color: None,
                background_color: None,
                display_name: "eof_in",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (52): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (45): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (50): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "mini_mac",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "data_out",
                    id: Wellen((21)),
                ),
                color: None,
                background_color: None,
                display_name: "data_out [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (54): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "mini_mac",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "valid_in",
                    id: Wellen((24)),
                ),
                color: None,
                background_color: None,
                display_name: "valid_in",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (43): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "mini_mac",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "tx_state",
                    id: Wellen((61)),
                ),
                color: None,
                background_color: None,
                display_name: "mini_mac.tx_state [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Enum"),
                field_formats: [],
                height_scaling_factor: None,
            )),
            (6): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "mini_mac",
                            "sgmii_pcs_i",
                        ],
                        id: Wellen((6)),
                    ),
                    name: "rx_state",
                    id: Wellen((121)),
                ),
                color: None,
                background_color: None,
                display_name: "…sgmii_pcs_i.rx_state [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Enum"),
                field_formats: [],
                height_scaling_factor: None,
            )),
            (51): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "mini_mac",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "eof_out",
                    id: Wellen((22)),
                ),
                color: None,
                background_color: None,
                display_name: "eof_out",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (41): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "mini_mac",
                            "sgmii_pcs_i",
                        ],
                        id: Wellen((6)),
                    ),
                    name: "tx_state",
                    id: Wellen((133)),
                ),
                color: None,
                background_color: None,
                display_name: "…sgmii_pcs_i.tx_state [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Enum"),
                field_formats: [],
                height_scaling_factor: None,
            )),
            (58): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "mini_mac",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "pcs_valid_in",
                    id: Wellen((33)),
                ),
                color: None,
                background_color: None,
                display_name: "pcs_valid_in",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (40): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (13): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "mini_mac",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "crc_pass",
                    id: Wellen((37)),
                ),
                color: None,
                background_color: None,
                display_name: "crc_pass",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (53): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "mini_mac",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "ready_in",
                    id: Wellen((23)),
                ),
                color: None,
                background_color: None,
                display_name: "ready_in",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (19): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "mini_mac",
                            "spec_fifo_i",
                        ],
                        id: Wellen((13)),
                    ),
                    name: "wr_ptr",
                    id: Wellen((215)),
                ),
                color: None,
                background_color: None,
                display_name: "wr_ptr [10:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (17): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "mini_mac",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "buffer_wr_en",
                    id: Wellen((39)),
                ),
                color: None,
                background_color: None,
                display_name: "buffer_wr_en",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (46): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (15): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "mini_mac",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "eof_wr",
                    id: Wellen((40)),
                ),
                color: None,
                background_color: None,
                display_name: "eof_wr",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (16): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (39): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (55): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "mini_mac",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "data_in",
                    id: Wellen((25)),
                ),
                color: None,
                background_color: None,
                display_name: "data_in [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (14): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "mini_mac",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "crc_fail",
                    id: Wellen((38)),
                ),
                color: None,
                background_color: None,
                display_name: "crc_fail",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (49): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "mini_mac",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "valid_out",
                    id: Wellen((20)),
                ),
                color: None,
                background_color: None,
                display_name: "valid_out",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (48): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "mini_mac",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "ready_out",
                    id: Wellen((19)),
                ),
                color: None,
                background_color: None,
                display_name: "ready_out",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (47): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (59): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "mini_mac",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "pcs_data_in",
                    id: Wellen((34)),
                ),
                color: None,
                background_color: None,
                display_name: "pcs_data_in [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (7): Group((
                name: "SGMII RX",
                color: None,
                background_color: None,
                content: [],
                is_open: false,
            )),
            (42): Group((
                name: "SGMII TX",
                color: None,
                background_color: None,
                content: [],
                is_open: false,
            )),
            (8): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (57): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "mini_mac",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "pcs_ready_in",
                    id: Wellen((32)),
                ),
                color: None,
                background_color: None,
                display_name: "pcs_ready_in",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (12): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "mini_mac",
                            "rx_shift_reg",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "[0]",
                    id: Wellen((41)),
                ),
                color: None,
                background_color: None,
                display_name: "[0] [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (44): Group((
                name: "MAC TX",
                color: None,
                background_color: None,
                content: [],
                is_open: false,
            )),
        },
        display_item_ref_counter: 60,
        viewports: [
            (
                curr_left: (0.06234850343701177),
                curr_right: (0.18935365593041448),
                target_left: (0.0),
                target_right: (1.0),
                move_start_left: (0.0),
                move_start_right: (1.0),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            1909832,
        ])),
        markers: {},
        focused_item: Some((12)),
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: None,
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    wanted_timeunit: PicoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    rename_target: None,
    sidepanel_width: Some(300.0),
    ui_zoom_factor: None,
)