(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_parameters_in_scopes: None,
    highlight_focused: None,
    fill_high_values: None,
    primary_button_drag_behavior: None,
    arrow_key_bindings: None,
    clock_highlight_type: None,
    hierarchy_style: None,
    autoload_sibling_state_files: None,
    autoreload_files: None,
    waves: Some((
        source: File("dump.fst"),
        format: Fst,
        active_scope: Some(WaveScope((
            strs: [
                "sgmii_pcs",
                "tx_fifo",
            ],
            id: Wellen((7)),
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (1),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (2),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (3),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (4),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (5),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (24),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (7),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (6),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (25),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (28),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (27),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (9),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (11),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (10),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (8),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (26),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (12),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (13),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (14),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (19),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (18),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (20),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (21),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (22),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (17),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (16),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (15),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (14): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sgmii_pcs",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "rx_state",
                    id: Wellen((41)),
                ),
                color: None,
                background_color: None,
                display_name: "rx_state [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Enum"),
                field_formats: [],
                height_scaling_factor: None,
            )),
            (6): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sgmii_pcs",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "eof_in",
                    id: Wellen((18)),
                ),
                color: None,
                background_color: None,
                display_name: "eof_in",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (11): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sgmii_pcs",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "tx_state",
                    id: Wellen((52)),
                ),
                color: None,
                background_color: None,
                display_name: "tx_state [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Enum"),
                field_formats: [],
                height_scaling_factor: None,
            )),
            (28): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sgmii_pcs",
                            "tx_fifo",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "size",
                    id: Wellen((100)),
                ),
                color: None,
                background_color: None,
                display_name: "size [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (2): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sgmii_pcs",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "reset",
                    id: Wellen((14)),
                ),
                color: None,
                background_color: None,
                display_name: "reset",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (15): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sgmii_pcs",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "rx_bitslip",
                    id: Wellen((23)),
                ),
                color: None,
                background_color: None,
                display_name: "rx_bitslip",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (8): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sgmii_pcs",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "tx_data",
                    id: Wellen((24)),
                ),
                color: None,
                background_color: None,
                display_name: "tx_data [9:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (3): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (13): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (19): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sgmii_pcs",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "rx_even",
                    id: Wellen((35)),
                ),
                color: None,
                background_color: None,
                display_name: "rx_even",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (22): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (25): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sgmii_pcs",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "pause_in",
                    id: Wellen((19)),
                ),
                color: None,
                background_color: None,
                display_name: "pause_in",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sgmii_pcs",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "clk",
                    id: Wellen((13)),
                ),
                color: None,
                background_color: None,
                display_name: "clk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (26): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sgmii_pcs",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "tx_even",
                    id: Wellen((47)),
                ),
                color: None,
                background_color: None,
                display_name: "tx_even",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (12): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (10): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sgmii_pcs",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "tx_char",
                    id: Wellen((50)),
                ),
                color: None,
                background_color: None,
                display_name: "tx_char [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (20): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sgmii_pcs",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "dec_ctrl",
                    id: Wellen((40)),
                ),
                color: None,
                background_color: None,
                display_name: "dec_ctrl [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (18): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sgmii_pcs",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "rx_data",
                    id: Wellen((22)),
                ),
                color: None,
                background_color: None,
                display_name: "rx_data [9:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (9): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (7): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sgmii_pcs",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "data_in",
                    id: Wellen((17)),
                ),
                color: None,
                background_color: None,
                display_name: "data_in [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (21): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sgmii_pcs",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "dec_data",
                    id: Wellen((39)),
                ),
                color: None,
                background_color: None,
                display_name: "dec_data [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (24): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sgmii_pcs",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "valid_in",
                    id: Wellen((16)),
                ),
                color: None,
                background_color: None,
                display_name: "valid_in",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (17): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sgmii_pcs",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "comma",
                    id: Wellen((37)),
                ),
                color: None,
                background_color: None,
                display_name: "comma",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (16): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sgmii_pcs",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "offset",
                    id: Wellen((38)),
                ),
                color: None,
                background_color: None,
                display_name: "offset [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (27): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
        },
        display_item_ref_counter: 28,
        viewports: [
            (
                curr_left: (-0.008676623851229092),
                curr_right: (1.1375468153323596),
                target_left: (0.0),
                target_right: (1.0),
                move_start_left: (0.0),
                move_start_right: (1.0),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            1714593,
        ])),
        markers: {},
        focused_item: Some((9)),
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: Some((
        before: (9),
        level: 0,
    )),
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    wanted_timeunit: PicoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    rename_target: None,
    sidepanel_width: Some(300.0),
    ui_zoom_factor: None,
)