(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_parameters_in_scopes: None,
    highlight_focused: None,
    fill_high_values: None,
    primary_button_drag_behavior: None,
    arrow_key_bindings: None,
    clock_highlight_type: None,
    hierarchy_style: None,
    autoload_sibling_state_files: None,
    autoreload_files: None,
    waves: Some((
        source: File("dump.fst"),
        format: Fst,
        active_scope: Some(WaveScope((
            strs: [
                "sgmii_tx",
            ],
            id: Wellen((2)),
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (1),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (2),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (3),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (4),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (5),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (6),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (16),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (7),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (8),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (12),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (11),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (9),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (10),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (14),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (15),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (13),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (14): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (7): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sgmii_tx",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "data",
                    id: Wellen((11)),
                ),
                color: None,
                background_color: None,
                display_name: "data [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (13): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sgmii_tx",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "tx_data",
                    id: Wellen((12)),
                ),
                color: None,
                background_color: None,
                display_name: "tx_data [9:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
                height_scaling_factor: None,
            )),
            (8): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (11): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sgmii_tx",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "preamble_cnt",
                    id: Wellen((15)),
                ),
                color: None,
                background_color: None,
                display_name: "preamble_cnt [2:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (3): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sgmii_tx",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "clk_125M",
                    id: Wellen((7)),
                ),
                color: None,
                background_color: None,
                display_name: "clk_125M",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (15): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sgmii_tx",
                            "encoder",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "rd",
                    id: Wellen((34)),
                ),
                color: None,
                background_color: None,
                display_name: "rd",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (10): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sgmii_tx",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "raw_byte",
                    id: Wellen((14)),
                ),
                color: None,
                background_color: None,
                display_name: "raw_byte [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (9): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sgmii_tx",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "control_symbol",
                    id: Wellen((13)),
                ),
                color: None,
                background_color: None,
                display_name: "control_symbol",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (12): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sgmii_tx",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "state",
                    id: Wellen((17)),
                ),
                color: None,
                background_color: None,
                display_name: "state [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Enum"),
                field_formats: [],
                height_scaling_factor: None,
            )),
            (16): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sgmii_tx",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "eof",
                    id: Wellen((10)),
                ),
                color: None,
                background_color: None,
                display_name: "eof",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (2): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sgmii_tx",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "reset",
                    id: Wellen((8)),
                ),
                color: None,
                background_color: None,
                display_name: "reset",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
        },
        display_item_ref_counter: 16,
        viewports: [
            (
                curr_left: (-0.07418401557786913),
                curr_right: (1.0720392977153153),
                target_left: (0.0),
                target_right: (1.0),
                move_start_left: (0.0),
                move_start_right: (1.0),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((0, [])),
        markers: {},
        focused_item: Some((6)),
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: Some((
        before: (6),
        level: 0,
    )),
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    wanted_timeunit: PicoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    rename_target: None,
    sidepanel_width: Some(300.0),
    ui_zoom_factor: None,
)